.group-dde-info{
  clear: both;
  &.collapsed{
    .button-orange();
    position: relative;
    a{
      font-size: 0.8em;
    }
    &:before{
      .glyphicon();
      content: "\e805";
      position: absolute;
      top: 13px;
      left: 10px;
      font-size: 2em;
      color: white;
    }


    border: 0;
    h3{
      margin-top: 10px;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  border-radius : 6px;
  background-color: @gris-clair;
  border: 1px solid @orange;
  padding: 20px;
  h3{
    margin-top: 0;
    border-bottom: 2px solid @gris-fonce;
    padding-bottom: 15px;
  }
  a{
    text-decoration: none;
  }
  .form-submit{
    .button-orange();
  }
}
.h3-formation{
  position: relative;
  overflow: hidden;
  &:after{
    background-color: @gris-fonce;
    content: "";
    height: 2px;
    margin-left: 10px;
    position: absolute;
    top: 12px;
    width: 99%;
  }
}
.group-title-description{
  background-color: @gris-clair;
  .field-name-field-titre{
    padding: 8px 10px 2px 10px;
    border-radius: 4px;
    position: relative;
    &.description-hidden{
      background-color: @gris-fonce;
      &:after{
        .glyphicon();
        content: "\e835";
        position: absolute;
        right:20px;
        font-size: 2em;
      }
    }
    &.description-show{
      background-color: @gris-tres-fonce;
      color: white;
      font-weight: bold;
      &:after{
        .glyphicon();
        content: "\e836";
        color: white;
        position: absolute;
        right:20px;
        font-size: 2em;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
  .field-name-field-description{
    padding: 15px 0;
  }
}
.group-en-pratique{
  background-color: @gris-clair;
  padding: 1px 20px 20px 20px;
  margin-top: 20px;
  border-radius: 8px;
  h3{
    text-align: center;
    position: relative;
    overflow: hidden;
    &:before{
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid black;
      top: 10px;
      left:0;
      width: 50px;
    }
    &:after{
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid black;
      top: 10px;
      right:0;
      width: 50px;
    }
  }
}
.h4-formation{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  &:after{
    background-color: @gris-fonce;
    content: "";
    height: 1px;
    margin-left: 10px;
    position: absolute;
    top: 6px;
    width: 99%;
  }
}
.node-type-formation{
  .view-mode-teaser{
    .formation-list();
    h2{
      font-size: 1em;
      margin-top: 0;
    }
  }
}

/* liste des formations ***********************************************************************************************/
.page-formations{
  #block-system-main{
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    .view-formations{
      .views-row{
        .formation-list();
      }
    }
  }
}
.formation-list {
  .fond-blanc-arrondi();
  float: left;
  margin-right:1%;
  margin-bottom: 20px;
  width: 100%;
  
  @media (min-width: @screen-md) {
    width: 32%;
  }
  h2{
    a{
      font-size:0.8em;
    }
  }
}
