body.front{
  .col-md-4 .block-bean{
    position: relative;
    background: #fff;
    margin: 20px auto;
    display: block;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
    @media (min-width: @screen-md){
      height: 500px;
      overflow: hidden;
    }
    .field-name-field-image-scald{
      margin-bottom: 20px;
    }
    .read-more-home-block{
      @media (min-width: @screen-md){
        position: absolute;
        bottom: 10px;
        padding-top: 460px;
        margin-top: 0;
      }
      margin-top: 10px;
      display: block;
      width: 90%;
      &:hover{
        text-decoration: none;
        .button-home-link{
          background-color: black;
        }
      }
      .button-home-link{
        .button-orange();
        width: 70%;
        margin: 0 auto;
      }
    }
    h2{
      font-family: 'Muli', sans-serif;
      color: @bleu-lien;
    }
  }
  #block-views-news-block-actu{
    background-color: @gris-fonce;
    padding: 20px;
    margin-top: 20px;
    @media (min-width: @screen-md){
      height: 500px;
      overflow: hidden;
    }
  }
  #block-bean-intro-accueil{
    background-color: white;
    margin: 0 15px;
    padding: 20px;
  }
}
