body.front{
  .block-bean{
    position: relative;
    background: #fff;
    margin: 20px auto;
    display: block;
    padding:20px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px
    rgba(0, 0, 0, 0.3), 0 0 40px
    rgba(0, 0, 0, 0.1) inset;
    @media (min-width: @screen-md){
      height: 500px;
    }
    .read-more-home-block{
      position: absolute;
      bottom: 10px;
      padding-top: 460px;
      display: block;
    }
  }
}
